<div class="card" style="width: 18rem;">
  <img class="card-img-left" src="{{platillo.foto}}"
    alt="Card image cap" style="max-height: 110px; min-height: 110px;">
  <div class="card-body">
    <h5 class="card-title">{{platillo.nombre}}</h5>
    <p class="card-text">{{platillo.descripcion}}</p>

    <div *ngIf="usuario.email === 'dev@gmail.com'; else car" placement="top" ngbTooltip="Quitar del menú">
      <button class="btn btn-danger btn-block" (click)="removePlatillo()" placement="top" ngbTooltip="Agregar al Carrito">
        <i class="fa fa-trash"></i>
      </button>
    </div>

    <ng-template #car>
      <button class="btn btn-danger btn-block" placement="top" ngbTooltip="Agregar al Carrito">
        <i class="fa fa-cart-plus"></i>
      </button>
    </ng-template>
  </div>
</div>