<div class="container border rounded py-3 bg-light">
  <p *ngIf="misPedidos.status=='Pendiente'; else servido">
    <strong>Estatus: </strong>{{misPedidos.status}}
  </p>
  <ng-template #servido>
    <p class="text-success">
      <strong class="text-dark">Estatus: </strong>
      {{misPedidos.status}}
    </p>
  </ng-template>
  <ul class="list-group" >
    <!-- Agregar en los <li> el ngFor para replicar platillos (arreglo del objeto pedidos: Revisar modelo pedidos) -->
    <li class="list-group-item" *ngFor="let platillo of misPedidos.platillos">
      <div class="row">
        <div class="col-2">
          <img src='https://dummyimage.com/50x50.png?text=foto' class="rounded-circle" alt='' />
        </div>
        <div class="col-10">
          <p>
            <strong>{{platillo.nombre}}</strong>
            <br>{{platillo.descripcion}}o</p>
        </div>
      </div>
  </ul>
</div>