<div class="container-fluid">
  <header class="border-bottom mb-2 text-center">
    <h3>Carrito <i class="fa fa-shopping-cart"></i></h3>
  </header>
  <div class="mb-2">
    <neo-carrito-elemento></neo-carrito-elemento>
  </div>
  <div class="mb-2">
    <neo-carrito-elemento></neo-carrito-elemento>
  </div>
  <div class="mb-2">
    <neo-carrito-elemento></neo-carrito-elemento>
  </div>
  <div class="mb-2">
    <neo-carrito-elemento></neo-carrito-elemento>
  </div>

  <footer class="footer bg-light my-2">
      <button class="btn btn-danger btn-block">Ordenar</button>
  </footer>
</div>